@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');


.navbar-main{
    background-color: white;
    /* height: 110px; */
    border-bottom: 1px solid rgb(238, 237, 237);
    padding: 30px;
   
   

    
   
    

}

.navbarcontent{
   
    height: 50px;
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.snitchlogo img{
    width: 90%;
}
.snitchlogo{
   
    width: 200px;
    height: 50px;
    margin-left: 9%;
    
    

   
}
.homeicons{
    display: flex;
    gap: 20px;
    font-size: 25px;
    color: black;
    
}
.homebtn{
    background-color: transparent;
    border: none;
}
.cartoffcanvas{
    background-color: transparent;
    border: none;
    transition: 0s;
}

.offcanvas-start{
    transition: 0.9s;
    border: 1px solid rgb(247, 245, 245);
    padding: 20px;
    width:25% ;

}
.offcanvas-header2{
    display: flex;
    align-items: center;
    font-size: 16px; 
    gap: 10px;
   
    
}
.userlogo{
    font-size: 18px; 
    padding: 8px;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
   
}
.userlogotext{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
   
}
.offcanvas-borderbottom{
    border-bottom: 1px solid rgb(225, 222, 222);
}
.offcanvas-body-content{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
    font-size: 15px; 
    letter-spacing: 1px;
    padding: 18px 0px;
    cursor: pointer;

}
.offcanvas-body{
    padding:0px;
}
.offcanvas-body-content2{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
    font-size: 15px; 
    letter-spacing: 1px;
}
.offcanvas-body-content2main{
    padding: 18px 0px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.offcanvas-body-content span{
    color: black;
    font-weight: 700;
    font-size: 20px;
   
}

.carousel-item img{
    height: 650px;
}

.footer-top-border{
    border-bottom: 1px solid rgb(225, 222, 222);
    margin-top: 10%;
}
.footer1{
    display: flex;
    padding: 50px;
    background-color: white;
    justify-content: space-between;
    flex-wrap: wrap;
  
   
}
.footer-contents-head{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
    font-size: 14px; 
    letter-spacing: 1px;
    margin-bottom: 18px;
    color: black;
}
.footer-content{
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
    font-size: 11px; 
    letter-spacing: 1px;
    margin-bottom: 7px;
    color: black;
}
.footer-contents{
    width: 24%;
}
.footer-content a{
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 800;
    font-size: 12px;
}
.footer-border{
    border-bottom: 1px solid rgb(225, 222, 222);
    width: 100%;
    display: none;

}
.copyright{
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 800;
    font-size: 12px; 
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10%;
}
.link5{
    color: black;
    text-decoration: none;
    font-family: 'Julius Sans One', sans-serif;

}
.link5:hover{
    color: black;
    
}
.products-customer{
    width: 100%;
    height: auto;
    padding: 40px;
    gap: 21px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.productcard{
    width: 253px;
    height: 500px;
    cursor: pointer;

    /* background-color: aqua; */
}
.productimg img{
    width: 253px;
}
.productname{
    font-family: 'Julius Sans One', sans-serif;  
    font-size: 12px;
    word-spacing: 6px;
    margin-top: 10px;
    color: black;
    font-weight: 700;
}
.productprice{
    font-family: 'Julius Sans One', sans-serif;  
    font-size: 13px;
    /* word-spacing: 6px; */
    margin-top: 10px;
    color: black;
    font-weight: 700;
}
.productpricesub{
    
    font-size: 12px;
    word-spacing: 6px;
    margin-top: 10px;
    color: black;
}
.productsize{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 7px;
}
.productsizesub{
    font-family: 'Julius Sans One', sans-serif;  
    font-size: 14px;
    font-weight: 700;
    border: 1px solid rgb(237, 235, 235);
    padding: 7px 15px;
   
}
.productsizesub:hover{
  border: 1px solid black;
  cursor: pointer;
  transition: 1s;
}
.cartoffcanvas2{
   width: 35%;
}
.carthead{
    font-family: 'Julius Sans One', sans-serif;
    font-size: 25px;
   display: flex;
   justify-content: center;

}
.cartheadborderbottom{
    border-bottom: 1px solid rgb(221, 220, 220);
    width: 100%;
    margin-bottom: 30px;
}
.cartheadborderbottom2{
    border-bottom: 1px solid rgb(221, 220, 220);
    width: 100%;

}
.cartbody{
    width: 100%;
    height: 200px;
    display: flex;
    margin-bottom: 50px;
}
.cartbodyleft{
    background-color: bisque;
    width: 30%;
    height: 200px;
}
.cartbodyright{
    width: 70%;
    height: 200px;
    padding-left: 20px;
}
.cartbodyleft img{
    width: 100%;
    height: 200px;
}
.cartproductname{
    font-family: 'Julius Sans One', sans-serif;  
    font-size: 14px;
    margin-bottom: 10px;
}
.select3{
    font-size: 12px;
    width: auto;
	height: 40px;
	padding: 0 0 0 16px;
	outline: none;
	background-color: #F2F2F2;
	border: 1px solid #e5e5e500;
	transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);	
	font-family: 'Julius Sans One', sans-serif;
    margin-bottom: 20px;
}
.removecart button{
    padding:0px 30px;
    background-color:transparent;
    border: 1px solid black;
    color:black;
    font-family:'Julius Sans One', sans-serif ;
    height: 30px;
    font-size: 11px;
}

.cartbtn{
    display: flex;
    width: 100%;
    gap: 50px;
}
.total{
    margin-top: 20px;
    font-family:'Julius Sans One', sans-serif ;
    font-size: 17px;
    
}
.totalmain{
    display: flex;
    justify-content: space-between;
    padding:0px 30px;
}
.total2{
    font-family:'Julius Sans One', sans-serif ;
    font-size: 14px;
    margin-top: 20px;
}
.link4{
    color: black;
}
.link4:hover{
    color: black;
}
.catogory2{
    margin: auto;
    text-align: center;
    font-family:'Julius Sans One', sans-serif ;
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 200px;
    padding: 5px;
    border-radius: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
   
}
.acheivement{
    display: flex;
    justify-content: center;
}
.acheivement img{
    margin-top: 8%;
    width: 94%;
}
#newarrivals{
    margin-top: 5%;
}

@media (min-width:300px) and (max-width:576px){


	.offcanvas-start{
       
        width:55% ;
    
    }
    .snitchlogo img{
        width: 80%;
    }
    .footer-contents{
        width: 100%;
        margin-bottom: 5%;
        text-align: center;
        
    }
    .footer-border{
        margin-bottom: 5%;
        display: block;
    
    }
    .carousel-item img{
        height: 300px;
    }

  }
  @media (min-width:576px) and (max-width:768px){


	.offcanvas-start{
       
        width:40% ;
    
    }
    /* .footer-contents{
        width: 50%;
        margin-bottom: 10%;
    } */
    .carousel-item img{
        height: 450px;
    }
   

  }
  @media (min-width:768px) and (max-width:992px){


	.offcanvas-start{
       
        width:40% ;
    
    }

  }
